@media (max-width: 1050px) {
    .container > div {
      width: 100%;
      margin: 0 auto;
      padding: 0px 20px 0px;
    }
  }
  
  @media (max-width: 800px) {
    .nav-list {
      display: none;
      position: fixed;
      top: 0;
      left: -100%;
      bottom: 0;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      background: #F7F7F7;
      transition:  0.5s;
      -webkit-transition:  0.5s;
      -moz-transition:  0.5s;
      -ms-transition:  0.5s;
      -o-transition:  0.5s;
  }
    .nav-item {
      margin: 25px 0;
    }
    .nav_list_item {
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #737373;
    }
    .hamburger {
      display: flex;
      align-items: space-between;
      background-color: transparent;
      border: none;
      position: absolute;
      right: 50px;
    }
    .close {
      width: 100%;
      display: flex;
      position: absolute;
      top: 0px;
      right: 0px;
      background-color: transparent;
    }
    .about-row {
      flex-direction: column;
    }
    .about-card {
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 500px) {
    .home-left h1 {
      font-size: 70px;
    }
  }